@import '../../../../styles/inc/variable.css';

.property-banner-module-wrapper {
    position: relative;

    &.new-homes-banner-module {
        &::before {
            content: '';
            background-color: var(--color-light3);
        }

        &::after {
            content: none;
        }

        .property-address {
            font-family: var(--font-secondary);
            @include fontsize(32px);
            font-weight: var(--medium);
            line-height: var(--line-height-primary);
            color: var(--color-dark);
            padding-bottom: 16px;
    
            @media all and (max-width: $mobile) {
                @include fontsize(24px);
                padding-bottom: 8px;
            }
        }
    
        .property-price {
            font-family: var(--font-secondary);
            @include fontsize(20px);
            font-weight: var(--medium);
            line-height: var(--line-height-primary);
            color: var(--color-dark);
            padding-bottom: 32px;
    
            @media all and (max-width: $mobile) {
                @include fontsize(16px);
                padding-bottom: 24px;
            }
        }
    
        .property-title {
            @include fontsize(16px);
            font-weight: var(--normal);
            line-height: var(--line-height-secondary);
            color: var(--color-dark);
            padding-bottom: 32px;
        }
    
        .property-btn {
            .button-sec {
                width: 100%;
    
                @media all and (max-width: $screen-lg8) {
                    width: 300px;
                }
            }
        }
    
        .property-contact {
            @include fontsize(16px);
            font-weight: var(--normal);
            line-height: var(--line-height-secondary);
            color: var(--color-dark);
            padding-top: 16px;
    
            @media all and (max-width: $screen-lg8) {
                padding-bottom: 48px;
            }
    
            a {
                color: var(--color-dark);
                border-bottom: solid 1px transparent;
                font-weight: var(--semi-bold);
    
                &:hover {
                    border-bottom: solid 1px var(--color-dark);
                }
            }
        }
    }
}