@import '../../../../styles/inc/variable.css';

.footer {
    background-color: var(--color-dark);
    padding: 104px 0;

    @media all and (max-width: $screen-lg) {
        padding: 56px 0;
    }

    @media all and (max-width: $mobile) {
        padding: 40px 0 56px 0;
    }

    &.footer-contact {
        @media all and (max-width: $mobile) {
            padding-top: 40px;
            padding-bottom: 128px;
        }
    }

    &.career-contact {
        @media all and (max-width: $screen-lg) {
            padding-top: 40px;
            padding-bottom: 128px;
        }
    }

    .footer-menu {
        @media all and (max-width: $screen-lg8) {
            margin-bottom: 48px;
        }

        @media all and (max-width: $mobile) {
            margin-bottom: 32px;
        }

        .footer-menu-title {
            font-family: var(--font-secondary);
            @include fontsize(12px);
            font-weight: var(--bold);
            color: var(--color-light2);
            line-height: var(--line-height-secondary);
            padding-bottom: 24px;
            text-transform: uppercase;

            @media all and (max-width: $mobile) {
                @include fontsize(16px);
                padding-bottom: 16px;
            }
        }

        .footer-menu-list {
            li {
                padding-bottom: 8px;

                @media all and (max-width: $mobile) {
                    padding-bottom: 4px;
                }

                &:last-child {
                    padding-bottom: 0;
                }

                a {
                    font-family: var(--font-base);
                    @include fontsize(18px);
                    font-weight: var(--normal);
                    color: var(--color-light2);
                    line-height: var(--line-height-secondary);
                    width: fit-content;
                    border-bottom: solid 1px transparent;
                    @include transition(all .3s ease);

                    @media all and (max-width: $mobile) {
                        @include fontsize(16px);
                    }

                    &:hover {
                        border-bottom: 1px solid var(--color-light2);
                    }
                }

                p {
                    font-family: var(--font-base);
                    @include fontsize(18px);
                    font-weight: var(--normal);
                    color: var(--color-light2);
                    line-height: var(--line-height-secondary);
                }
            }
        }
    }

    .footer-siteby {
        padding-top: 72px;

        @media all and (max-width: $screen-lg) {
            padding-top: 0;
        }
    }
}