@import '../../../../styles/inc/variable.css';

.office-landing-card-wrapper {
    padding-bottom: 80px;

    @media all and (max-width: $screen-lg) {
        padding-bottom: 56px;
    }

    @media all and (max-width: $mobile) {
        padding-bottom: 32px;
    }

    .office-landing-card-img {
        display: block;
        overflow: hidden;
        border-radius: 4px;
        margin-bottom: 32px;

        @media all and (max-width: $mobile) {
            margin-bottom: 24px;
        }

        img {
            width: 100%;
            height: 400px;
            object-fit: cover;
            object-position: 50% 10%;
            transform: scale(1);
            @include transition(all .4s ease-in-out);

            @media all and (max-width: $screen-lg) {
                height: 270px;
            }

            @media all and (max-width: $mobile) {
                height: 240px;
            }
        }

        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }

    .office-landing-card-text-wrapper {
        .office-landing-card-title {
            font-family: var(--font-base);
            @include fontsize(20px);
            font-weight: var(--semi-bold);
            color: var(--color-dark3);
            line-height: var(--line-height-secondary);
            padding-bottom: 8px;

            @media all and (max-width: $mobile) {
                @include fontsize(18px);
            }
        }

        .office-landing-card-text {
            font-family: var(--font-base);
            @include fontsize(16px);
            font-weight: var(--normal);
            color: var(--color-grey);
            line-height: var(--line-height-secondary);
            padding-bottom: 8px;

            @media all and (max-width: $mobile) {
                @include fontsize(14px);
            }
        }

        .office-landing-card-mobile {
            a {
                @include fontsize(16px);
                font-weight: var(--normal);
                color: var(--color-dark);
                line-height: var(--line-height-secondary);

                @media all and (max-width: $mobile) {
                    @include fontsize(14px);
                }

                &:hover {
                    color: var(--primary-color);
                    border-bottom: solid 1px var(--primary-color);
                }
            }
        }

        .office-landing-card-email {
            a {
                @include fontsize(16px);
                font-weight: var(--normal);
                color: var(--primary-color);
                line-height: var(--line-height-secondary);
                border-bottom: solid 1px var(--primary-color);
    
                @media all and (max-width: $mobile) {
                    @include fontsize(14px);
                }
    
                &:hover {
                    color: var(--secondary-color);
                    border-bottom: solid 1px var(--secondary-color);
                }
            }
        }
    }
}