@import '../../../../styles/inc/variable.css';

.area-guide-detail-img {
    margin-bottom: 40px;
    border-radius: 4px;

    @media all and (max-width: $mobile) {
        margin-bottom: 32px;
    }

    img {
        height: 400px;
        border-radius: 4px;

        @media all and (max-width: $screen-lg8) {
            height: 320px;
        }

        @media all and (max-width: $mobile) {
            height: 240px;
        }
    }
}