@import '../../../../styles/inc/variable.css';

.inner-load-more-wrap {
    grid-column: 1/span 3;

    @media all and (max-width: $screen-lg) {
        grid-column: 1/span 2;
    }

    @media all and (max-width: $mobile) {
        grid-column: 1/span 1;
    }

    &.people-wrapper {
        grid-column: 1/span 4;

        @media all and (max-width: $screen-lg) {
            grid-column: 1/span 2;
        }
    
        @media all and (max-width: $mobile) {
            grid-column: 1/span 1;
        } 
    }

    .results-btn {
        span {
            border-bottom: solid 1px transparent;
            @include transition(all .3s ease);
        }

        &.disabled {
            opacity: 0.6;
        }

        &:hover {
            span {
                color: var(--primary-color);
                border-bottom: solid 1px var(--primary-color);
            }
        }

        .icon-results-back {
            margin-right: 12px;
        }

        .icon-results-next {
            margin-left: 12px;
        }
    }

    .pagination-list {
        li {
            a {
                font-family: var(--font-secondary);
                @include fontsize(12px);
                font-weight: var(--bold);
                letter-spacing: 2px;
                line-height: var(--line-height-secondary);
                text-transform: uppercase;
                border-bottom: solid 1px transparent;
                @include transition(all .2s ease-in-out);

                &:hover, &.active {
                    color: var(--primary-color);
                    border-bottom: solid 1px var(--primary-color);
                    padding-bottom: 8px;
                }
            }

            &:not(:last-child) {
                margin-right: 24px;

                @media all and (max-width: $mobile) {
                    margin-right: 16px;
                }
            }
        }
    }
}