//screen size
$screen-sm: 640px;
$mobile: 767px;
$ipad-mini: 768px;
$screen-md: 992px;
$screen-lg: 1024px;
$screen-lg8: 1080px;
$screen-xl: 1280px;
$screen-2xl: 1400px;
$screen-3xl: 1536px;
$screen-4xl: 1600px;