@import '../../../../styles/inc/variable.css';

.footer-contact-mobile-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: var(--color-light2);
    border-top: 1px solid var(--color-light3);
    padding: 24px 20px 16px;

    ul {
        li {
            width: 100%;

            &:not(:last-child) {
                margin-right: 16px;
            }

            .button {
                font-family: var(--font-secondary);
                @include fontsize(12px);
                font-weight: var(--bold);
                line-height: var(--line-height-secondary);
                color: var(--color-light);
                text-align: center;
                letter-spacing: 2px;
                text-transform: uppercase;
                background-color: var(--primary-color);
                padding: 14px 16px;
                display: block;
                width: 100%;
            }
        }
    }

    .button {
        height: 48px;
        width: 100%;
    }

    .career-detail-footer-list {
        li {
            a {
                width: 100%;
                padding: 0;
            }
        }
    }
}