@import '../../../../styles/inc/variable.css';

.new-homes-sidebar-list {
    // @media all and (max-width: $screen-lg8) {
    //     display: flex;
    //     justify-content: flex-start;
    //     padding-top: 40px;
    // }

    // @media all and (max-width: $mobile) {
    //     display: block;
    // }

    li {
        border-bottom: solid 1px var(--color-light3);
        padding-bottom: 24px;
        margin-bottom: 24px;

        @media all and (max-width: $screen-lg8) {
            border-bottom: 0;
            padding-bottom: 0;
            margin-bottom: 0;
            border-right: solid 1px var(--color-light3);
            padding-right: 40px;
            margin-right: 40px;
        }

        @media all and (max-width: $mobile) {
            border-bottom: solid 1px var(--color-light3);
            padding-bottom: 8px;
            margin-bottom: 8px;
            border-right: 0;
            padding-right: 0;
            margin-right: 0;
            display: flex;
            align-items: center;
        }

        &:last-child {
            border-bottom: 0;

            @media all and (max-width: $screen-lg8) {
                border-right: 0;
            }
        }
    }

    .new-homes-detail-text-sm {
        @include fontsize(18px);
        font-weight: var(--semi-bold);
        line-height: var(--line-height-secondary);
        color: var(--color-dark-light);
        padding-bottom: 4px;
    }

    .new-homes-detail-text {
        @include fontsize(16px);
        font-weight: var(--normal);
        line-height: var(--line-height-secondary);
        color: var(--color-dark-light);
    }
}