@import '../../../../styles/inc/variable.css';

.careers-position-card-wrapper {
    background-color: var(--color-light3);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.02);
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 16px;

    .position-card-heading-wrapper {
        padding-left: 32px;

        @media all and (max-width: $mobile) {
            padding-left: 16px;
        }
    }

    .position-card-heading {
        @include fontsize(20px);
        font-family: var(--font-base);
        font-weight: var(--semi-bold);
        color: var(--color-dark);
        line-height: var(--line-height-secondary);

        @media all and (max-width: $mobile) {
            @include fontsize(16px);
        }
    }

    .position-card-price {
        font-family: var(--font-base);
        color: var(--color-dark-light);
    }

    .position-link {
        margin-right: 24px;

        @media all and (max-width: $mobile) {
            margin-right: 16px;
        }
    }

    .careers-accordion-card {
        padding: 0;

        .accordion-item {
            background-color: transparent;
            border: 0;

            .accordion-header {
                padding-bottom: 0;

                .accordion-button {
                    background-color: transparent;
                    border-color: transparent;
                    box-shadow: none;
                    padding: 0;

                    &.collapsed {
                        margin-bottom: 0;

                        &::after {
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M8 2V14M14 8L2 8' stroke='%235B5B5B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                            @include widthheight(16px, 16px);
                            background-size: 16px;
                            margin-right: 24px;
                        }
                    }
    
                    &::after {
                        margin-left: 0;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M2 8H14' stroke='%23A66C22' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
                        @include widthheight(16px, 16px);
                        background-size: 16px;
                        margin-right: 24px;
                    }

                    &:hover, &:focus {
                        box-shadow: none;
                        outline: none;
                    }
                }
            }

            .accordion-body {
                padding: 12px 32px 16px;

                @media all and (max-width: $mobile) {
                    padding: 12px 16px 16px;
                }

                .careers-position-desc {
                    p {
                        color: var(--color-black);
                        padding-bottom: 30px;
                    }

                    h3 {
                        @include fontsize(18px);
                        color: var(--color-black);
                        font-weight: var(--semi-bold);
                        padding-bottom: 20px;
                    }

                    ul {
                        margin-left: 24px;
                        margin-bottom: 20px;

                        li {
                            list-style: disc;
                            padding: 5px 0;
                        }
                    }

                    .careers-position-link {
                        a {
                            color: var(--primary-color);
                            @include fontsize(18px);
                            border-bottom: solid 1px var(--primary-color);

                            &:hover {
                                color: var(--secondary-color);
                                border-bottom: 1px solid var(--secondary-color);
                            }
                        }
                    }
                }
            }
        }
    }
}