@import '../../../../styles/inc/variable.css';

.area-guide-card-wrapper {
    .area-guide-card-img-zoom {
        border-radius: 4px;

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: 50% 10%;
            transform: scale(1);
            @include transition(all .4s ease-in-out);

            @media all and (max-width: $screen-lg8) {
                height: 332px;
            }

            @media all and (max-width: $mobile) {
                height: 280px;
            }
        }

        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }

    .area-guide-text-wrapper {
        margin-top: 24px;

        @media all and (max-width: $mobile) {
            margin-top: 16px;
        }

        a {
            @include fontsize(20px);
            font-weight: var(--semi-bold);
            color: var(--secondary-dark);
            line-height: var(--line-height-secondary);
            @include transition(all .3s ease);
            border-bottom: solid 1px transparent;

            @media all and (max-width: $mobile) {
                @include fontsize(18px);
            }

            &:hover {
                border-bottom: solid 1px var(--secondary-dark);
            }
        }
    }
}